---
- name: install jupyter dependencies
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: true
    cache_valid_time: 3600
  become: true
  with_items:
    - ipython
    - jupyter-notebook

- name: ensure ~/jupyter directory exists
  file:
    dest: ~/jupyter
    state: directory

- name: ensure systemd user directory exists
  file:
    dest: ~/.config/systemd/user
    state: directory

- name: install jupyter service
  template:
    src: jupyter.service.j2
    dest: ~/.config/systemd/user/jupyter.service

- name: enable jupyter service
  systemd:
    name: jupyter.service
    state: started
    enabled: true
    daemon_reload: true
    user: true
