[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
ExecStart=/usr/bin/jupyter-notebook
WorkingDirectory=/home/{{ ansible_user }}/jupyter
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
