---
- name: install cockpit packages
  apt:
    name:
      - cockpit
      - cockpit-bridge
      - cockpit-packagekit
      - cockpit-pcp
      - cockpit-storaged
      - cockpit-system
      - cockpit-ws
    default_release: "{{ ansible_distribution_release }}-backports"
    state: latest
    update_cache: true
    cache_valid_time: 3600
  become: true
  tags: cockpit

- name: configure cockpit
  template:
    src: cockpit.conf.j2
    dest: /etc/cockpit/cockpit.conf
  become: true
  notify: restart cockpit

- name: make sure cockpit is running
  service:
    name: cockpit
    state: started
    enabled: true
  become: true

- name: create service override dir
  file:
    path: /etc/systemd/system/cockpit.service.d
    state: directory
  become: true

- name: override service
  copy:
    content: |
      [Service]
      ExecStart=
      ExecStart=/usr/lib/cockpit/cockpit-tls --no-tls
    dest: /etc/systemd/system/cockpit.service.d/override.conf
  become: true
  notify: restart cockpit

- name: install docker plugin
  unarchive:
    src: "https://github.com/mrevjd/cockpit-docker/releases/download/{{ plugin_docker_version }}/cockpit-docker.tar.gz"
    dest: /usr/share/cockpit
    remote_src: true
  become: true

- name: download zfs plugin
  unarchive:
    src: "https://github.com/45Drives/cockpit-zfs-manager/tarball/{{ plugin_zfs_version}}"
    dest: /tmp
    remote_src: true

- name: install zfs plugin
  copy:
    src: "/tmp/45Drives-cockpit-zfs-manager-{{ plugin_zfs_version[:7] }}/zfs"
    dest: /usr/share/cockpit
    remote_src: true
  become: true

- name: configure cockpit caddy
  set_fact:
    caddy: "{{ caddy | combine(caddy_cockpit, recursive=True, list_merge='append') }}"
    cacheable: true
  changed_when: true
  notify: configure caddy
  tags: caddy

- name: configure cockpit docker
  set_fact:
    docker: "{{ docker | combine(docker_cockpit, recursive=True, list_merge='append') }}"
    cacheable: true
  changed_when: true
  notify: configure docker
  tags: docker
