---
docker_homeassistant:
  services:
    homeassistant:
      container_name: homeassistant
      image: ghcr.io/home-assistant/home-assistant:stable
      volumes:
        - "{{ app_folder }}/homeassistant:/config"
        - /etc/localtime:/etc/localtime:ro
        - /run/dbus:/run/dbus:ro
      network_mode: host  # Required for mDNS to work correctly
      # networks:
      #   - apps
      # ports:
      #   - 8123:8123
      #   - 5580:5580
      restart: "no"
    matter-server:
      container_name: matter-server
      network_mode: host  # Required for mDNS to work correctly
      image: ghcr.io/home-assistant-libs/python-matter-server:stable
      restart: "no"
      security_opt:
        - apparmor:unconfined  # Needed for Bluetooth via dbus
      volumes:
        - "{{ app_folder }}/matter-server:/data"
        - /run/dbus:/run/dbus:ro
    wyze-bridge:
      container_name: wyze-bridge
      networks:
        - apps
      image: mrlt8/wyze-bridge:latest
      restart: "no"
      ports:
          - 1935:1935 # RTMP
          - 8554:8554 # RTSP
          - 8888:8888 # HLS
          - 8889:8889 #WebRTC
          - 8189:8189/udp # WebRTC/ICE
          - 5000:5000 # WEB-UI
      environment:
          WYZE_EMAIL: "{{ ansible_email }}"
          WYZE_PASSWORD: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            63666331623761326537613530666430663334346661333664646532383034393766343230613434
            3935356335666531356434393133303166313030306464390a353432636134383365313031353761
            30626362383339363936393336343431633033363139343461656163313464393536353362333063
            3562636133373866330a663261376230663462353833333632366532333465306365353164396462
            6436
          API_ID: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            30383136363165643766646237336131303761366264366364616663356262363961643538373838
            3637623038363132626239373633353365363166333938660a383538626631376532316537303031
            35626266313339623034656137396539666432376331303134346535383162343331323134363162
            6337316537363262620a643963613334633665663663383939386536336437343835653162303630
            61396439363163393337636536653565323033336539383165353937323337306462363532623364
            3033613535616633636562636633323838306366326565356263
          API_KEY: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            64666466343432353630323661633637366362666538313836366663363436623363623330356131
            3336383034376639643735626631383836313430663832300a323564326565346236663435363663
            61333332333435396134383663636164313238616465663664326435633332386366336236633363
            3032336338323061390a366366633131336431333036303166376536613462353635323834316466
            64613135613165383965303434633639343430303731633831316634616130643837653432386666
            31623435633338343232323861383166636363303833386263666436613134623739326330633562
            613165303466366133663762343532353430
          WB_AUTH: true
          WB_USERNAME: "{{ ansible_user }}"
          WB_PASSWORD: "{{ web_password }}"
