---
ansible_user: svedell
ansible_become_pass: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  33346233343163663732386662386539613165333862653965393532306236383535633765313563
  6130353366303935393634376234303237356230633335370a643263663930626135656330633439
  38383830663731356238613431356666313738316439303662366161666439373037383534666438
  6237613664646138330a373931346665623131356664306463626433396131646232393138303862
  3732

ansible_email: sean.vedell@gmail.com

docker_username: paulbovbel
docker_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  38313336353934356666323239323864623536366132653739383733363338626430616638393537
  3830343331653064313831366561356465303365653438630a613666363163356439383435646366
  36653933316138316635633435313066656436303765363531303633613066623265623837613162
  3934633763376364650a366630366664393835383632393830343331363565383637623431323636
  3664

web_user: svedell
web_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  33653464663538646165353633633332343832663332616163373732646436393564636437353937
  3939623866306461376134643236366466626163333465300a323733326239363330326533363961
  35623031313266373965306433383664623565386231666432306462653166653530636531613461
  3362363630356638650a343834623061623538316436643139366632613830653935316535646139
  3133

google_oauth2_client_id: 124300500715-dpo5stgm91iusernk11e1jh4i1j21ala.apps.googleusercontent.com

google_oauth2_client_secret: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  64386365323431646135323333393464373238646335623930616130643662376637643237303833
  6134313230613732353862326336326435623365313731640a326530363439343266353262643138
  65616663636266303736306261643131633933316537646230326337313564623664613436633066
  6533313664653666330a333062396361636337323963376663626164633364396263383235653832
  37636332323539646463316161643130373562303130386162326366646162623863

pia_username: p4418147
pia_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  38383866646163623333386539326666363939323938643761396463343135303533346530663234
  3463326135353933613238323432303730653433336263620a363762333739633330363230376139
  33643133623438353734303732666232663765306565306363303039306435653834663663313134
  6163316363393166340a643936393235383464313664613230636637353363666337653939366561
  6136

# Useful paths
data_folder: /mnt/nfs
app_folder: /mnt/app
movies_folder: "{{ data_folder }}/movies"
tv_folder: "{{ data_folder }}/tv"
books_folder: "{{ data_folder }}/books"
comics_folder: "{{ data_folder }}/comics"
music_folder: "{{ data_folder }}/music"
downloads_folder: "/mnt/downloads"
share_folder: "{{ data_folder }}"

iscsi_host: 192.168.50.203
iscsi_lun: lun-1

media_server: true

nfs_host: 192.168.50.203
nfs_mounts:
  - mount: "{{ movies_folder }}"
    url: "{{ nfs_host }}:/volume1/Movies"
  - mount: "{{ tv_folder }}"
    url: "{{ nfs_host }}:/volume1/TV"
  - mount: "{{ music_folder }}"
    url: "{{ nfs_host }}:/volume1/Music"


container_extras:
  services:
    ddclient:
      container_name: ddclient
      image: linuxserver/ddclient:latest
      networks:
        - apps
      volumes:
        - "{{ app_folder }}/ddclient:/config"
      environment:
        PUID: "{{ uid }}"
        PGID: "{{ gid }}"
        TZ: America/Toronto
      x-systemd-requires:
        - mnt-app.mount
    plex:
      volumes:
        - "{{ music_folder }}:/data/music:ro"
        - "{{ movies_folder }}:/data/movies:ro"
        - "{{ tv_folder }}:/data/tv:ro"
      x-systemd-requires:
        - mnt-app.mount
        - mnt-downloads.mount
        - mnt-nfs-movies.mount
        - mnt-nfs-music.mount
        - mnt-nfs-tv.mount
    tautulli:
      x-systemd-requires:
        - mnt-app.mount
    sonarr:
      x-systemd-requires:
        - mnt-app.mount
        - mnt-downloads.mount
        - mnt-nfs-tv.mount
    radarr:
      x-systemd-requires:
        - mnt-app.mount
        - mnt-downloads.mount
        - mnt-nfs-movies.mount
    jackett:
      x-systemd-requires:
        - mnt-app.mount
    deluge:
      x-systemd-requires:
        - mnt-app.mount
        - mnt-downloads.mount

caddy_extras:
  users:
    - name: paul@bovbel.com
      roles: ['admin', 'share']
    - name: sean.vedell@gmail.com
      roles: ['admin', 'share']
