---
docker: {}
docker_extras: {}
docker_no_log: true

docker_defaults:
  # version: "3.7"
  networks:
    apps:
      name: apps
  services:
    # TODO(pbovbel) fix SMTP server
    smtp:
      container_name: smtp
      image: ixdotai/smtp
      networks:
        - apps
      ports:
        - "25:25"
      environment:
        GMAIL_USER: "{{ ansible_email }}"
        GMAIL_PASSWORD: "{{ gmail_access_key }}"
    watchtower:
      image: containrrr/watchtower
      container_name: watchtower
      networks:
        - apps
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
      restart: "no"
      environment:
        WATCHTOWER_CLEANUP: "true"

docker_systemd_dir: /etc/docker/systemd

net_mask: "{{ ansible_default_ipv4.network }}/{{ ansible_default_ipv4.netmask }}"
lan_network: "{{ net_mask | ipaddr('net') }}"
