# {{ ansible_managed }}

[Unit]
Description=Start docker container {{ service.key }}
Before=multi-user.target
BindsTo=docker.service {{ service.value['x-systemd-requires'] | default([]) | join(' ') }}
After=docker.service {{ service.value['x-systemd-requires'] | default([]) | join(' ') }}

[Service]
ExecStart=/usr/bin/docker start {{ service.key }} -a
Type=simple
RestartSec=5s
Restart=always
SyslogIdentifier={{ service.key }}
TimeoutStartSec=600s
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target docker.service {{ service.value['x-systemd-requires'] | default([]) | join(' ') }}
