# {{ ansible_managed }}

[Unit]
Description=Start docker container {{ service.key }}
Wants=network-online.target
BindsTo={{ service.value['x-systemd-requires'] | default([]) | join(' ') }}
After=network-online.target {{ service.value['x-systemd-requires'] | default([]) | join(' ') }}
RequiresMountsFor=/run/containers/storage

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStart=/usr/bin/podman start {{ service.key }} -a
{% for cmd in service.value['x-systemd-start-post'] | default([]) %}
ExecStartPost={{ cmd }}
{% endfor %}
Type=simple
Restart=on-failure
SyslogIdentifier={{ service.key }}
TimeoutStopSec=10s

[Install]
WantedBy=default.target
