[Unit]
Description=Refresh DDNS entry for %i every 15 minutes

[Timer]
OnBootSec=10min
OnUnitActiveSec=15min
Unit=aws-ddns@%i.service

[Install]
WantedBy=network-online.target
