[Unit]
Description=Renew Let's Encrypt's certificates every week

[Timer]
OnCalendar=Mon *-*-* 04:30:00
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
