---
- name: copy miyoo-backup script
  template:
    src: miyoo-backup.j2
    dest: /usr/local/bin/miyoo-backup
    mode: 0777
  become: true

- name: setup miyoo-backup timer
  copy:
    content: |
      [Unit]
      Description=Miyoo Backup

      [Timer]
      OnUnitInactiveSec=1day

      [Install]
      WantedBy=timers.target
    dest: /etc/systemd/system/miyoo-backup.timer
  become: true
  notify: enable miyoo backup

- name: setup miyoo-backup service
  copy:
    content: |
      [Unit]
      Description=Miyoo Backup

      [Service]
      Type=exec
      ExecStart=/usr/local/bin/miyoo-backup
      WorkingDirectory={{ backup_folder }}/miyoo
      User={{ ansible_user }}
      Restart=on-failure

    dest: /etc/systemd/system/miyoo-backup.service
  become: true
  notify: enable miyoo backup
