{
  email {{ ansible_email }}

	security {
		oauth identity provider google {
			realm google
			driver google
			client_id {{ google_oauth2_client_id }}
			client_secret {{ google_oauth2_client_secret }}
			scopes openid email profile
		}

		authentication portal defaultportal {
			crypto default token lifetime 3600
			crypto key sign-verify {{ caddy.token_secret }}
			enable identity provider google
			cookie domain bovbel.com

{% for user in caddy.users %}
			transform user {
				match realm google
				match email {{ user.email }}
  {% for role in user.roles %}
				action add role auth/{{ role }}
  {% endfor %}
			}
{% endfor %}

    }

{% for role in caddy.roles %}
		authorization policy {{ role }} {
			set auth url /auth/oauth2/google
			crypto key verify {{ caddy.token_secret }}
			allow roles auth/{{ role }}
			validate bearer header
			inject headers with claims
      enable js redirect
		}
{% endfor %}
	}
}

127.0.0.1, localhost, {{ tailscale_ip }}, {{ tailscale_hostname }}, {{ inventory_hostname }} {
  log {
      level ERROR
      format console {
        time_format wall
      }
      output file /data/log/error.log
  }

  route / {

  {% if caddy.redirect is defined %}
    redir / {{ caddy.redirect }}
  {% endif %}

  }

  route /auth* {
    authenticate with defaultportal
  }

{% for endpoint in caddy.endpoints.values() %}
  redir {{ endpoint.path }} {{ endpoint.path }}/

  route {{ endpoint.path }}* {
  {% if endpoint.auth == "oauth" %}
    authorize with {{ endpoint.role }}
  {% elif endpoint.auth == "basic" %}
    basicauth {
      {{ endpoint.user }} {{ endpoint.password | password_hash('bcrypt') | b64encode }}
    }
  {% endif %}

  {% if endpoint.type == "share" or endpoint.strip_prefix | default(false) %}
    uri strip_prefix {{ endpoint.path }}
  {% endif %}

  {% if endpoint.type == "proxy" %}
    reverse_proxy * {{ endpoint.scheme | default('http') }}://{{ endpoint.host }}:{{ endpoint.port }} {

    {% if endpoint.scheme | default('http') == "https" %}
      transport http {
          tls_insecure_skip_verify
      }
    {% endif %}

    {% for header in endpoint.header_up | default ([]) %}
      header_up {{ header }}
    {% endfor %}
    }

  {% elif endpoint.type == "share" %}
    root * {{ endpoint.path }}
    file_server {
        browse
        hide .*
    }
  {% endif %}
  }

{% endfor %}

}
