---
version: '2'
services:
  plex:
    image: linuxserver/plex
    container_name: plex
    volumes:
      - {{ appdata }}/plex:/config
      - {{ media }}:/mnt/storage/share
    network_mode: host
    restart: always
    environment:
      - VERSION=latest
      - PUID={{ uid }}
      - PGID={{ gid }}
  plexpy:
    image: linuxserver/plexpy
    container_name: plexpy
    depends_on:
      - plex
    volumes:
      - {{ appdata }}/plexpy:/config
      - {{ appdata }}/plex/Library/Application\ Support/Plex\ Media\ Server/Logs:/logs:ro
    ports:
      - 8181:8181
    links:
      - plex
    restart: always
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    depends_on:
      - jackett
    volumes:
      - {{ appdata }}/sonarr:/config
      - {{ media }}/tv:/tv
      - {{ downloads }}:/downloads
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 8989:8989
    links:
      - jackett
      - deluge
      - plex
    restart: always
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
  radarr:
    image: linuxserver/radarr
    container_name: radarr
    depends_on:
      - jackett
    volumes:
      - {{ appdata }}/radarr:/config
      - {{ media }}/movies:/movies
      - {{ downloads }}:/downloads
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 7878:7878
    links:
      - jackett
      - deluge
      - plex
    restart: always
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
  jackett:
    image: linuxserver/jackett
    container_name: jackett
    volumes:
      - {{ appdata }}/jackett:/config
    ports:
      - 9117:9117
    restart: always
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
  unifi:
    image: linuxserver/unifi
    container_name: unifi
    network_mode: host
    volumes:
      - {{ appdata }}/unifi:/config
    ports:
      - 8080:8080
      - 8081:8081
      - 8443:8443
      - 8843:8843
      - 8880:8880
    restart: always
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
  deluge:
    image: linuxserver/deluge
    container_name: deluge
    network_mode: host
    ports:
      - 8112:8112
      - 58846:58846
      - 58946:58946
    volumes:
      - {{ appdata }}/deluge:/config
      - {{ downloads }}:/downloads
    restart: always
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
  resilio:
    image: linuxserver/resilio-sync
    container_name: resilio
    network_mode: host
    ports:
      - 8888:8888
      - 55555:55555
    volumes:
      - {{ appdata }}/resilio:/config
      - {{ nfs_root }}:/sync
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
  # xen-orchestra:
  #   image: yobasystems/alpine-xen-orchestra:latest
  #   container_name: xoa
  #   ports:
  #     - 27030:8080
  #   depends_on:
  #     - redis
  #   environment:
  #     - NODE_ENV=production
  #   volumes:
  #     - {{ appdata }}/xoa/server:/app/data
  # redis:
  #   container_name: xoa-redis
  #   image: redis:alpine
  #   command: redis-server --appendonly yes
  #   volumes:
  #     - {{ appdata }}/xoa/redis:/data
