map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

upstream websocket {
  server localhost:9090;
}

server {
  server_name _;
  listen 80 default_server;
  listen [::]:80 default_server;
  return 307 https://$host$request_uri;
}

# host redirects

{% for host in public_hosts | difference([inventory_hostname]) %}
server {
  server_name {{ host }};

  listen 443 ssl;
  ssl on;
  ssl_certificate {{ ssl_certificate }};
  ssl_certificate_key {{ ssl_certificate_key }};

  location / {
    proxy_pass         http://{{ host }}:80;
    include private-control.conf;
    include proxy-control.conf;
  }
}
{% endfor %}

server {
  server_name {{ inventory_hostname }};

  listen 443 ssl;
  ssl on;
  ssl_certificate {{ ssl_certificate }};
  ssl_certificate_key {{ ssl_certificate_key }};

  proxy_headers_hash_bucket_size 128;

  # Services

  ## cockpit
  location / {
    proxy_pass http://{{ inventory_hostname }}:9090/;
    include private-control.conf;
    include proxy-control.conf;

    # Pass ETag header from cockpit to clients.
    # See: https://github.com/cockpit-project/cockpit/issues/5239
    gzip off;
  }

  ## deluge
  location /deluge {
    proxy_pass http://{{ inventory_hostname }}:8112/;
    include proxy-control.conf;
    include private-control.conf;

    proxy_set_header X-Deluge-Base "/deluge/";
    add_header X-Frame-Options SAMEORIGIN;
  }

  ## sonarr
  location /sonarr {
    proxy_pass http://{{ inventory_hostname }}:8989/sonarr;
    include proxy-control.conf;
    include private-control.conf;
  }

  ## radarr
  location /radarr {
    proxy_pass http://{{ inventory_hostname }}:7878/radarr;
    include proxy-control.conf;
    include private-control.conf;
  }

  ## tautulli
  location /tautulli {
    proxy_pass http://{{ inventory_hostname }}:8181/tautulli;
    include proxy-control.conf;
    include private-control.conf;
  }

  ## jackett
  location /jackett {
    proxy_pass http://{{ inventory_hostname }}:9117/jackett;
    include proxy-control.conf;
    include private-control.conf;
  }

  # Web share
  location /media {
    root {{ data_folder }};
    autoindex on;

    include private-control.conf;
  }

}
