---
- name: install docker repo key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    keyring: /etc/apt/trusted.gpg.d/docker.gpg
    state: present
  become: true

- name: add docker apt repo
  apt_repository:
    repo: "deb [signed-by=/etc/apt/trusted.gpg.d/docker.gpg] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
    update_cache: true
  become: true

- name: install docker packages
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    # - cockpit-docker  # removed in 20.04
      - python3-docker
    state: latest
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: configure docker group
  group:
    name: docker
    state: present
  become: true

- name: add user to docker group
  user:
    name: "{{ item }}"
    groups: docker
    append: true
  become: true
  notify: restart docker
  with_items:
    - "{{ ansible_user }}"
    - grafana-agent

- name: increase number of watches
  sysctl:
    name: fs.inotify.max_user_watches
    value: "1048576"
    state: present
  become: true

- name: configure docker defaults
  set_fact:
    docker: "{{ docker | combine(docker_defaults, recursive=True, list_merge='append') }}"
    cacheable: true
  changed_when: true
  notify: configure docker
  tags: docker
