(logging)
{
  log /log/requests.log {
    rotate_size 50
    rotate_age  90
    rotate_keep 20
    rotate_compress
  }

  errors /log/error.log {
  	rotate_size 50
  	rotate_age  90
  	rotate_keep 20
  	rotate_compress
  }
}

(fancy_auth)
{
  jwt {
    path /
    except /favicon.ico
    except /emby
    except /transmission
    allow sub pbovbel
    allow domain bovbel.com
    redirect /auth?backTo=https://{hostonly}{rewrite_uri}
  }
  login {
    login_path /auth
    google client_id={{ google_oauth2_client_id }},client_secret={{ google_oauth2_client_secret }},scope=https://www.googleapis.com/auth/userinfo.email
    # simple pbovbel={{ web_password }}
    redirect_check_referer false
  }
}

media.bovbel.com {
  import logging
  import fancy_auth

  basicauth /transmission pbovbel {{ web_password }}

  redir 302 {
    if {path} is /
    / /dashboard/
  }

  browse /share

  proxy /dashboard 192.168.1.85:9090 {
    transparent
    websocket
  }

  proxy /radarr radarr:7878 {
    transparent
    websocket
  }

  proxy /transmission transmission:9091 {
    transparent
    websocket
  }

  proxy /sonarr sonarr:8989 {
    transparent
    websocket
  }

  proxy /tautulli tautulli:8181 {
    transparent
    websocket
  }

  proxy /jackett jackett:9117 {
    transparent
    websocket
  }

  proxy /emby emby:8096 {
    transparent
    websocket
  }

  proxy /gui resilio:8888 {
    transparent
    websocket
  }

  proxy /ombi ombi:3579 {
    transparent
    websocket
  }

}
