---
- name: install hwe
  apt:
    name: "linux-generic-hwe-{{ ansible_distribution_version }}"
    state: latest
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: enable wait online
  systemd:
    name: systemd-networkd-wait-online.service
    enabled: true
  become: true

- name: populate kernel parameters
  lineinfile:
    dest: /etc/default/grub
    regexp: '^GRUB_CMDLINE_LINUX_DEFAULT=.*$'
    line: 'GRUB_CMDLINE_LINUX_DEFAULT="{{ kernel_options | join(" ") }}"'
  become: true
  notify:
    - update-grub

- name: set timezone
  timezone:
    name: America/Toronto
  become: true

- name: install mail
  apt:
    name:
      - sendmail-bin
      - bsd-mailx
    state: latest
    update_cache: true
    cache_valid_time: 3600
  become: true
